In [1]:
import os
import glob

import duckdb
import pandas as pd
import seaborn as sns

In [2]:
# directory the data was downloaded to locally
data_dir = '/Users/d3y010/projects/antonia/data/xdd_parquet'

# target glob path
glob_path = os.path.join(data_dir, 'S[1-2]_[1-2]/S*_*_[0-1].parquet')

# number of files in file query
n_files = len(glob.glob(glob_path))

# number of records in file query
n_records = n_files * 432180  # records per file

print("Exploring {:,} records over {} files.".format(n_records, n_files))

Exploring 3,457,440 records over 8 files.

In [18]:
%%time

sql = f"""
SELECT
    demand
FROM
    '{glob_path}'
WHERE
    demand > 0;
"""

# get query result as a data frame
df = duckdb.query(sql).df()

df.head()

CPU times: user 81.6 ms, sys: 73.5 ms, total: 155 ms
Wall time: 156 ms

   demand
0     130
1      64
2    1787
3    5135
4    4684

In [19]:
df.loc[df['demand'] > 0].shape

(2312195, 1)

In [23]:
df.demand.min(), df.demand.max()

(1, 87004)

In [ ]:
total_records = 3457440
nonzero_records = 2312195

In [24]:
rng = df.demand.max() - df.demand.min()

In [27]:
interval = rng / 25

In [33]:
df.loc[df['demand'] < 10].shape

(130586, 1)